<ion-header>
  <ion-toolbar color="danger">

    <ion-title>
      Card Details
    </ion-title>

    <ion-button color="light" size="small" slot="end" [routerLink]="['/home']">
      HOME <ion-icon name="home"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-input 
      [(ngModel)]="cardinfo.number" 
      placeholder="card number"
      type="text">
    </ion-input>
    <ion-input 
      [(ngModel)]="cardinfo.expMonth" 
      placeholder="expiry month"
      type="text">
    </ion-input>
    <ion-input 
      [(ngModel)]="cardinfo.expYear" 
      placeholder="expiry year"
      type="text">
    </ion-input>
    <ion-input 
      [(ngModel)]="cardinfo.cvc" 
      placeholder="cvc"
      type="text">
    </ion-input>
    <ion-button expand="full" color="dark" (click)="pay()">
      Pay Via Stripe
    </ion-button>
  </div>
</ion-content>
