<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      <ion-icon name="phone-portrait-outline"></ion-icon>
      Product List
    </ion-title>

    <div class="cart-badge">
      {{ cartItemCount | async }} Products
    </div>
    <ion-button color="light" size="small" slot="end" (click)="openCart()">
      <ion-icon name="cart" slot="end"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item lines="none" style="background-color: #000000; color:#000000">
      <ion-label>Sort by</ion-label>
      <ion-select
        [(ngModel)]="selectedFilter"
        interface="action-sheet"
        placeholder="Default"
        (ionChange)="onFilterChange($event.detail.value)"
      >
        <ion-select-option value="lowest">Lowest Price</ion-select-option>
        <ion-select-option value="highest">Highest Price</ion-select-option>
        <ion-select-option value="name">Name (A–Z)</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- LOADING STATE -->
    <ng-container *ngIf="isLoading">
      <ion-card *ngFor="let i of [1,2,3,4]">
        <ion-skeleton-text animated style="width: 100%; height: 160px;"></ion-skeleton-text>

        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ng-container>


  <ion-list *ngIf="!isLoading">
    <ion-card *ngFor="let item of products">
      <!-- <img [src]="item.image" /> -->

      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{ item.price | currency:'USD' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button color="dark" size="small" (click)="addToCart(item)">
              ADD TO CART
              <ion-icon name="cart" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>



  
</ion-content>
